# URL para conexión local de desarrollo de PostgreSQL usando credenciales de docker-compose.yml
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/vector_pokeapi?schema=public"

# URL de la API de Fastify consumida por el Frontend de Next.js
NEXT_PUBLIC_API_URL="http://localhost:3001"

# Puerto en el que corre la API (Fastify)
PORT=3001
HOST=0.0.0.0
